<div class="bg-dark" style="height: 100vh;">

    <div class="text-white d-flex flex-column">
        <div class="align-self-center">
            <h1 class="d-inline-block fw-bold"style="font-size:100px">OOPS</h1>
            <img src="https://cdn.jsdelivr.net/gh/ahmedhosna95/upload@1731955f/sad404.svg" alt="404 page">
        </div>
        
        <div class="text-danger align-self-center">
            <h1 style="font-size: 35px;"><%= errorMessage %> </h1>
        </div>

    </div>

</div>