<div class="container-lpage d-flex flex-wrap">
    <div class="left-home col-md-6 ms-5 align-self-center mb-5">
        <h1 style="color: #ff2c90;" class="mb-2 fs-1 fw-bold">
            A comprehensive platform for reliable
        </h1>

        <h2 class="text-white fw-light my-3 typing">
            <span class="fs-3">
                job opportunities and internships.

            </span>
        </h2>
        <h3 class="text-white fw-lighter mb-4 fs-5">Get Discovered. Get Hired.</h3>
        <div class="action">
            <a href="/jobs" class="btn btn-lg lbtn">I'm Job Seeker</a>
            <% if(!locals.userEmail){ %>

                <button type="button" class="btn btn-lg lbtn ms-2" data-bs-toggle="modal" data-bs-target="#register-modal">
                    I'm Recruiter
                </button>
            <% } %>
            <!-- Registration modal -->
            <div class="modal" id="register-modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content px-2">
                        <div class="modal-header">
                            <h3 class="modal-title"> Experience Easily! </h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/" method="post">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="name">Name</span>
                                    <input type="text" class="form-control" placeholder="Enter your name"
                                        aria-label="name" name="name">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="email">Email</span>
                                    <input type="email" class="form-control" placeholder="Enter your email"
                                        aria-label="email" name="email">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="password">Password</span>
                                    <input type="password" class="form-control" placeholder="Enter your password"
                                        aria-label="password" name="password">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-lg lbtn"> Register </button>
                                </div>
                            </form>
                        </div>


                        <div class="modal-footer d-flex justify-content-between">
                            <div>
                                <span>Already Registered? </span>
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                    data-bs-dismiss="modal" data-bs-target="#login-modal">Login</button>
                            </div>

                            <div>
                                <i class="fa-brands fa-twitter fa-xl p-1" style="color: #0d6efd;"></i>
                                <i class="fa-brands fa-instagram fa-xl p-1" style="color: #dc3545;"></i>
                                <i class="fa-brands fa-facebook fa-xl" style="color: #0dcaf0;"></i>
                                <i class="fa-brands fa-whatsapp fa-xl" style="color: #198754;"></i>
                                <i class="fa-brands fa-linkedin fa-xl p-1" style="color: #4590fd;"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Login Modal -->

            <div class="modal" id="login-modal">
                <div class="modal-dialog">
                    <div class="modal-content px-2">
                        <form action="/" method="post">
                            <div class="modal-header">
                                <h3 class="modal-title text-success">Experience Easily</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="email">Email</span>
                                    <input type="email" class="form-control" placeholder="Enter your email"
                                        aria-label="email" name="email">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="password">Password</span>
                                    <input type="password" class="form-control" placeholder="Enter your password"
                                        aria-label="password" name="password">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-lg lbtn"> Login </button>
                                </div>
                            </div>
                        </form>

                        <div class="modal-footer d-flex">
                            <div>
                                <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <div class="right-home col-md-5">
        <img src="/images/banner.png" alt="banner">
    </div>

</div>