<div class="container">

    <div class="card">
        <img src="/images/web-banner-28759.png" class="card-img-top" alt="job-banner">
        <div class="card-body">
            <h1>
                <span>SDE</span> <span>oppertunity in GURGAON HR IND REMOTE at</span> <span>Coding Ninjas</span>
            </h1>
            <h5 class="card-title my-1 fw-bold text-warning">Coding Ninjas</h5>
            <h6 class="card-subtitle my-1 fw-bold">
                <span>Tech</span>
                <span class="text-info">SDE</span>
            </h6>
            <div class="d-flex flex-column my-2">
                <span><i class="fa-solid fa-location-dot"></i>
                    GURGAON HR IND REMOTE
                </span>

                <span><i class="fa-solid fa-indian-rupee-sign"></i>
                    14-20 LPA
                </span>
                <span><i class="fa-solid fa-hourglass-half fa-lg"></i> Apply By 30 Aug 2023</span>
                <span><i class="fa-solid fa-signal fa-lg"></i> Number of openings 5</span>
                <a href="#" style="text-decoration: none;"><span class="text-danger"><i
                            class="fa-solid fa-user-group fa-lg"></i> Applicants 1</span></a>

            </div>

            <div class="container mt-3">
                <div class="skills p-1 my-2">
                    <button class="btn btn-sm btn-outline-info">
                        REACT
                    </button>

                </div>
                <button class="btn btn-primary">Apply Now</button>

            </div>
            <small class="text-body-secondary d-block mt-4">
                <span class="bg-success border-success p-1 rounded text-white border-opacity-50"
                    style="width: 160px;">Posted: 12/21/2023, 8:34:36 AM</span>
            </small>
        </div>

    </div>