<div class="d-flex justify-content-center" style="height: auto;">


    <form action="/login" method="post" class="bg-light mt-5 p-3 align-self-start rounded" style="min-width: 30rem;">

        <h2 class="text-center">Login</h2>

        <div class="input-group mb-3">
            <span class="input-group-text" id="email">Email</span>
            <input type="email" class="form-control" placeholder="Enter your email" aria-label="email" name="email">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="password">Password</span>
            <input type="password" class="form-control" placeholder="Enter your password" aria-label="password"
                name="password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg lbtn"> Login </button>
        </div>

    </form>

</div>